@use "base.module" as variables;

.planet {
  padding-top: 2rem;

  &_intro {
    margin-top: 10rem;
    padding-left: 5rem;

    @media only screen and (max-width: variables.$bp-large) {
      text-align: center;
      margin: 3rem auto;
      padding: 0;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: grid;
    }
  }

  &_img {
    height: 44.5rem;
    width: 44.5rem;

    @media only screen and (max-width: variables.$bp-large) {
      height: 30rem;
      width: 30rem;
      margin: 0 auto;
    }

    @media only screen and (max-width: variables.$bp-smallest) {
      height: 20rem;
      width: 20rem;
    }
  }

  &_title {
    margin-top: 2rem;
  }

  &_list {
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
    text-align: left;

    @media only screen and (max-width: variables.$bp-large) {
      margin: 0 auto;
      text-align: center;
    }

    li {
      display: inline;
      margin-left: 0;
      text-align: left;

      @media only screen and (max-width: variables.$bp-large) {
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  &_description {
    border-bottom: 2px variables.$tertiary solid;
    padding-bottom: 2rem;
    color: variables.$secondary;
    width: 44rem;

    @media only screen and (max-width: variables.$bp-large) {
      text-align: center;
      width: 60rem;
      margin: 0 auto;
    }

    @media only screen and (max-width: variables.$bp-small) {
      width: 32.7rem;
    }
    @media only screen and (max-width: variables.$bp-smallest) {
      width: 25rem;
    }
  }

  &_footer {
    display: flex;
    gap: 7rem;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 2.8rem;

    &--text {
      text-transform: uppercase;
      font-size: 1.4rem;
      line-height: 1.68rem;
      color: variables.$secondary;
      letter-spacing: 0.236rem;
    }

    @media only screen and (max-width: variables.$bp-large) {
      justify-content: center;
    }

    @media only screen and (max-width: variables.$bp-small) {
      align-items: center;
      justify-content: center;
      gap: 3rem;
      flex-direction: column;
    }
  }
}

.planet_img_container {
  margin: 6.5rem auto;

  @media only screen and (max-width: variables.$bp-large) {
    text-align: center;
    margin-top: 3rem;
  }
}

.planet_btn {
  font-size: 1.6rem;
  line-height: 1.92rem;
  letter-spacing: 0.27rem;
  margin-right: 3.5rem;
  padding-bottom: 1rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  color: variables.$white;
  background-color: transparent;

  @media only screen and (max-width: variables.$bp-large) {
    margin: 0 auto;
  }
}

.planet_ul {
  margin-left: 0;
  padding-left: 0;

  @media only screen and (max-width: variables.$bp-large) {
    margin: 1rem auto;
    justify-content: center;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    gap: 1.5rem;
  }
}

.planet_li {
  justify-self: end;
}

.active {
  border-bottom: solid variables.$white 3px;
}
